<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) {%>
        <div class="user-message user-message--error">
            <%= errorMessage %>
        </div>
        <% }%>
        <form class="product-form" action="<%= editing ? '/admin/edit-product' : '/admin/add-product' %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(e=> e.param === 'title') ? 'invalid': '' %>" type="text" name="title"
                    id="title" value="<%= editing ? product.title : oldInput.title %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input class="<%= validationErrors.find(e=> e.param === 'imageUrl') ? 'invalid': '' %>" type="text"
                    name="imageUrl" id="imageUrl" value="<%= editing ? product.imageUrl : oldInput.imageUrl %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(e=> e.param === 'price') ? 'invalid': '' %>" type="number" name="price"
                    id="price" step="0.01" value="<%= editing ? product.price : oldInput.price %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(e=> e.param === 'description') ? 'invalid': '' %>" name="description"
                    id="description" rows="5"><%= editing ? product.description : oldInput.description %></textarea>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <button class="btn" type="submit">
                <%= editing ? 'Update Product' : 'Add Product' %>
            </button>
            <input type="hidden" name="productId" value="<%= editing ? product.id : '' %>">
        </form>
    </main>
    <%- include('../includes/end.ejs') %>