<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                        <% products.forEach(p => { %>
                        <li class="cart__item">
                                <h1>
                                        <%= p.title %>
                                </h1>
                                <h2>
                                        Quantity:
                                        <%= p.CartItem.quantity %>
                                </h2>
                                <form action="/cart-delete-item" method="post">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                        <input type="hidden" name="productId" value="<%= p.id %>">
                                        <button class="btn danger" type="submit">Delete</button>
                                </form>
                        </li>
                        <% }) %>
                </ul>
                <div class="centered">
                        <hr>
                        <!-- <form action="/create-order" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                                <button class="btn" type="submit">Order</button>
                        </form> -->
                        <a href="/checkout" class="btn">Order</a>
                </div>
                <% } else { %>
                <h1>No Products in Cart</h1>
                <% } %>
        </main>
        <%- include('../includes/end.ejs') %>