<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
            <li class="cart__item">
                <h1>
                    <%= p.title %>
                </h1>
                <h2>
                    Quantity:
                    <%= p.CartItem.quantity %>
                </h2>
            </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total:
                <%= totalSum %>
            </h2>
        </div>
        <div class="centered">
            <form action="/create-order" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_hNIMLQdkRlQos8PLkHejmDit"
                    data-amount="<%= totalSum * 100 %>" data-name="Your Order" data-description="All the items you ordered"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
                    data-currency="kes">
                    </script>
            </form>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>